.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-x: hidden;
  overflow-y: auto;
  display: none;

  width: 400px;
  max-height: 100vh;

  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.modal.modalIsOpened {
  display: block;
}
.screenBg {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  width: 4000px;
  height: 4000px;

  opacity: 0.5;
  background: #000;
}
.screenBgIsOpened {
  display: block;

}
.titleAndClose h2 {
  margin-bottom: 20px;
  padding: 5px 30px;

  font-size: 26px;
  color: #222;
  text-align: left;

  background: #E8E8E8;
  border-top-left-radius: 5px;
}
.titleAndClose .modalClose {
  cursor: pointer;

  position: absolute;
  top: 3px;
  right: 0;

  padding: 0;

  line-height: 0.9;

  transition: 0.2s;
}
.titleAndClose .modalClose svg {
  font-size: 35px;
  color: #5B5B5B;
}
.modalBody {
  padding: 0 30px 20px 30px;

  text-align: left;
}

@media (max-width: 460px) {
  .modal {
    width: 95%;
  }
}