.profile-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}
.profile-info img {
    width: 110px;
}
.profile-about {
    width: calc(100% - 130px);
}
.profile-about p.name {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 12px;
}
.profile-about p.about {
    font-size: 15px;
    margin-bottom: 0;
}