.button {
  display: inline-block;
  padding: 7px 40px;
  background: #B6D65C;
  color: #555;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  transition: 0.2s;
}

.button:hover {
  background: #CCF068;
}

.button:disabled {
  background: #5c5c5c !important;
}

@media (max-width: 800px) {
  .button {
    padding: 5px 17px 6px 17px;
  }
}