@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansRegular.eot"), url("../fonts/OpenSansRegular.woff"),
  url("../fonts/OpenSansRegular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansSemiBold.eot"), url("../fonts/OpenSansSemiBold.woff"),
  url("../fonts/OpenSansSemiBold.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansBold.woff"), url("../fonts/OpenSansBold.eot"),
  url("../fonts/OpenSansBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.woff"), url("../fonts/Oswald-Light.eot"),
  url("../fonts/Oswald-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff"), url("../fonts/Oswald-Regular.eot"),
  url("../fonts/Oswald-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff"), url("../fonts/Oswald-Medium.eot"),
  url("../fonts/Oswald-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasLight.woff"), url("../fonts/BebasLight.eot"),
  url("../fonts/BebasLight.ttf");
  font-weight: 200;
}

* {
  box-sizing: border-box;
}

a,
p,
li{
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #444;
}

div,
span,
textarea,
input {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

a:focus {
  outline: unset;
}

h1,
h2 {
  color: #444;
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
  margin-bottom: 25px;
}

h1 {
  font-size: 42px;
  font-weight: 400;
}

h2 {
  font-size: 34px;
  font-weight: 300;
}

h3,
h4 {
  line-height: 1.3;
  margin-bottom: 15px;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 28px;
}

h4 {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

strong,
b {
  font-weight: 600;
}

mark {
  background-color: unset;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  margin: 20px 0;
  border-width: 0;
  border-top: 1px solid #e0dede;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2.5fr 10fr;
  gap: 12px;
  max-width: 1200px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
  padding: 25px;
  background: #F5F5F5;
}