.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    gap: 2em;
}
.dialogs h1 {
    grid-column: 1/3;
    margin-bottom: 0;
}
.dialogs-left-col {
    padding: 20px 20px 20px 0;
    border-right: 2px solid #dedede;
}
.dialogs-person a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 12px;
    font-size: 18px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 12px;
}
.dialogs-person:last-of-type a {
    padding: 0;
    border: 0;
    margin: 0;
}
.dialogs-person a.active {
    color: red;
}
.dialogs-person-ava img {
    max-width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.dialogs-message {
    display: grid;
    grid-template-columns: 90px calc(100% - 90px - 1em);
    gap: 1em;
    align-items: flex-end;
    margin-bottom: 25px;
}
.dialogs-message-ava-n-name {
    text-align: center;
}
.dialogs-message-ava-n-name img {
    max-width: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.dialogs-message-ava-n-name p {
    font-size: 14px;
    margin-bottom: 0;
}
.dialogs-message-text {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 8px 8px 8px 0;
}
.dialogs-message-text:before {
    content: '';
    position: absolute;
    left: -25px;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 25px, rgba(255, 255, 255, 1) 0);
}