.inputContainer {
  position: relative;

  margin-bottom: 0;
}
.inputContainer svg {
  position: absolute;
  top: 7px;
  right: 12px;
}
.inputPassword {
  height: 35px;
  padding: 5px 10px;

  border: 1px solid #a7a7a7;
  border-radius: 5px;
}
.errorInput {
  border: 1px solid red;
}
.error {
  color: red;
}
