.write textarea {
    width: 100%;
    height: 120px;
    padding: 20px;
    background: #dedede;
    border: 0;
    border-radius: 8px;
    margin-bottom: 15px;
}
.write button {
    display: block;
    padding: 7px 40px;
    background: #B6D65C;
    color: #555;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
}