.sidebar-friends ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.sidebar-friend {
    text-align: center;
}
.sidebar-friend img.ava {
    max-width: 55px;
    border-radius: 50%;
}
.sidebar-friend span.name {
    font-size: 14px;
}