.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
  margin-top: 20px;
}

.pagination button {
  padding: 0;
  background: transparent;
  border: 0;
}

.itemsPerPage {
  margin-right: 10px;
}

.pagination .prevNext {
  padding: 5px 3px 2px 3px;
}

.pagination .prevNext:hover {
  color: #FF0808;
}

.portionPages {
  display: flex;
  align-items: center;
}

.portionPages button {
  padding: 3px 7px 1px 7px;
  margin: 0 1px;
}

.portionPages button:hover {
  background: #dcdcdc;
  border-radius: 5px;
}

.portionPages button.active {
  background: #FF0808;
  border-radius: 5px;
  color: #fff;
  pointer-events: none;
}