.allOrFriends {
  display: flex;
  width: 295px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.allOrFriends .col {
  padding: 6px 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}

.allOrFriends .col.disable {
  pointer-events: none;
}

.onlyFriends .friends {
  background: #B6D65C;
}

.allUsers .all {
  background: #B6D65C;
}