.dialogsPerson a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 12px;
  font-size: 18px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 12px;
}

.dialogsPerson:last-of-type a {
  padding: 0;
  border: 0;
  margin: 0;
}

.dialogsPerson a.active {
  color: red;
}

.dialogsPersonAva img {
  max-width: 40px;
  border-radius: 50%;
  margin-right: 12px;
}